<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.equipment.mapper.EquipmentMapper">

    <resultMap type="Equipment" id="EquipmentResult">
        <result property="equipmentId"    column="equipment_id"    />
        <result property="equipmentName"    column="equipment_name"    />
        <result property="nums"    column="nums"    />
        <result property="sort"    column="sort"    />
        <result property="classificationId"    column="classification_id"    />
        <result property="price"    column="price"    />
        <result property="supplierId"    column="supplier_id"    />
        <result property="matter"    column="matter"    />
        <result property="maintain"    column="maintain"    />
        <result property="description"    column="description"    />
        <result property="equipmentStatus"    column="equipment_status"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditOpinion"    column="audit_opinion"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditPerson"    column="audit_person"    />
        <result property="approverOpinion"    column="approver_opinion"    />
        <result property="approverTime"    column="approver_time"    />
        <result property="approverPerson"    column="approver_person"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />

        <association property="classification"  javaType="com.ruoyi.equipment.domain.Classification" >
            <result property="classificationId" column="classification_id" />
            <result property="classificationName" column="classification_name" />
        </association>

        <association property="supplier"  javaType="com.ruoyi.equipment.domain.Supplier" >
            <result property="supplierId" column="supplier_id" />
            <result property="supplierName" column="supplier_name" />
        </association>

    </resultMap>

    <sql id="selectEquipmentVo">
        select equipment_id, equipment_name, nums, sort, classification_id, price, supplier_id, matter, maintain, description, equipment_status, audit_status, audit_opinion, audit_time, audit_person, approver_opinion, approver_time, approver_person, remark, create_by, create_time, update_by, update_time from lp_equipment
    </sql>

    <sql id="selectEquipmentVos">
        select t1.equipment_id, t1.equipment_name, t1.nums, t1.sort, t1.classification_id, t1.price, t1.supplier_id, t1.matter, t1.maintain, t1.description, t1.equipment_status, t1.audit_status, t1.audit_opinion, t1.audit_time, t1.audit_person, t1.approver_opinion, t1.approver_time, t1.approver_person, t1.remark, t1.create_by, t1.create_time, t1.update_by, t1.update_time,t2.classification_id,t2.classification_name,t3.supplier_id,t3.supplier_name

        from lp_equipment t1
            left join lp_classification t2 on t1.classification_id = t2.classification_id
            left join lp_supplier t3 on t1.supplier_id = t3.supplier_id
    </sql>

    <select id="selectEquipmentList" parameterType="Equipment" resultMap="EquipmentResult">
        <include refid="selectEquipmentVos"/>
        <where>
            <if test="equipmentName != null  and equipmentName != ''"> and t1.equipment_name like concat('%', #{equipmentName}, '%')</if>
            <if test="nums != null "> and t1.nums = #{nums}</if>
            <if test="sort != null "> and t1.sort = #{sort}</if>
            <if test="classificationId != null "> and t1.classification_id = #{classificationId}</if>
            <if test="price != null "> and t1.price = #{price}</if>
            <if test="supplierId != null "> and t1.supplier_id = #{supplierId}</if>
            <if test="matter != null  and matter != ''"> and t1.matter = #{matter}</if>
            <if test="maintain != null  and maintain != ''"> and t1.maintain = #{maintain}</if>
            <if test="description != null  and description != ''"> and t1.description = #{description}</if>
            <if test="equipmentStatus != null "> and t1.equipment_status = #{equipmentStatus}</if>
            <if test="auditStatus != null "> and t1.audit_status = #{auditStatus}</if>
            <if test="auditOpinion != null  and auditOpinion != ''"> and t1.audit_opinion = #{auditOpinion}</if>
            <if test="auditTime != null "> and t1.audit_time = #{auditTime}</if>
            <if test="auditPerson != null  and auditPerson != ''"> and t1.audit_person = #{auditPerson}</if>
            <if test="approverOpinion != null  and approverOpinion != ''"> and t1.approver_opinion = #{approverOpinion}</if>
            <if test="approverTime != null "> and t1.approver_time = #{approverTime}</if>
            <if test="approverPerson != null  and approverPerson != ''"> and t1.approver_person = #{approverPerson}</if>
        </where>
    </select>

    <select id="selectEquipmentByEquipmentId" parameterType="Integer" resultMap="EquipmentResult">
        <include refid="selectEquipmentVo"/>
        where equipment_id = #{equipmentId}
    </select>

    <insert id="insertEquipment" parameterType="Equipment" useGeneratedKeys="true" keyProperty="equipmentId">
        insert into lp_equipment
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentName != null">equipment_name,</if>
            <if test="nums != null">nums,</if>
            <if test="sort != null">sort,</if>
            <if test="classificationId != null">classification_id,</if>
            <if test="price != null">price,</if>
            <if test="supplierId != null">supplier_id,</if>
            <if test="matter != null">matter,</if>
            <if test="maintain != null">maintain,</if>
            <if test="description != null">description,</if>
            <if test="equipmentStatus != null">equipment_status,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="auditOpinion != null">audit_opinion,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditPerson != null">audit_person,</if>
            <if test="approverOpinion != null">approver_opinion,</if>
            <if test="approverTime != null">approver_time,</if>
            <if test="approverPerson != null">approver_person,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentName != null">#{equipmentName},</if>
            <if test="nums != null">#{nums},</if>
            <if test="sort != null">#{sort},</if>
            <if test="classificationId != null">#{classificationId},</if>
            <if test="price != null">#{price},</if>
            <if test="supplierId != null">#{supplierId},</if>
            <if test="matter != null">#{matter},</if>
            <if test="maintain != null">#{maintain},</if>
            <if test="description != null">#{description},</if>
            <if test="equipmentStatus != null">#{equipmentStatus},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="auditOpinion != null">#{auditOpinion},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditPerson != null">#{auditPerson},</if>
            <if test="approverOpinion != null">#{approverOpinion},</if>
            <if test="approverTime != null">#{approverTime},</if>
            <if test="approverPerson != null">#{approverPerson},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateEquipment" parameterType="Equipment">
        update lp_equipment
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentName != null">equipment_name = #{equipmentName},</if>
            <if test="nums != null">nums = #{nums},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="classificationId != null">classification_id = #{classificationId},</if>
            <if test="price != null">price = #{price},</if>
            <if test="supplierId != null">supplier_id = #{supplierId},</if>
            <if test="matter != null">matter = #{matter},</if>
            <if test="maintain != null">maintain = #{maintain},</if>
            <if test="description != null">description = #{description},</if>
            <if test="equipmentStatus != null">equipment_status = #{equipmentStatus},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="auditOpinion != null">audit_opinion = #{auditOpinion},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="auditPerson != null">audit_person = #{auditPerson},</if>
            <if test="approverOpinion != null">approver_opinion = #{approverOpinion},</if>
            <if test="approverTime != null">approver_time = #{approverTime},</if>
            <if test="approverPerson != null">approver_person = #{approverPerson},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where equipment_id = #{equipmentId}
    </update>

    <delete id="deleteEquipmentByEquipmentId" parameterType="Integer">
        delete from lp_equipment where equipment_id = #{equipmentId}
    </delete>

    <delete id="deleteEquipmentByEquipmentIds" parameterType="String">
        delete from lp_equipment where equipment_id in
        <foreach item="equipmentId" collection="array" open="(" separator="," close=")">
            #{equipmentId}
        </foreach>
    </delete>
</mapper>