<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.equipment.mapper.SupplierMapper">

    <resultMap type="Supplier" id="SupplierResult">
        <result property="supplierId"    column="supplier_id"    />
        <result property="supplierName"    column="supplier_name"    />
        <result property="contact"    column="contact"    />
        <result property="classifyId"    column="classify_id"    />
        <result property="supplierAddress"    column="supplier_address"    />
        <result property="supplierPhone"    column="supplier_phone"    />
        <result property="supplierSynopsis"    column="supplier_synopsis"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditOpinion"    column="audit_opinion"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditPerson"    column="audit_person"    />
        <result property="approverOpinion"    column="approver_opinion"    />
        <result property="approverTime"    column="approver_time"    />
        <result property="approverPerson"    column="approver_person"    />
        <result property="sort"    column="sort"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />
        <association property="classify"  javaType="com.ruoyi.equipment.domain.Classify" >
            <result property="classifyId" column="classify_id" />
            <result property="classifyName" column="classify_name" />
        </association>

    </resultMap>

    <sql id="selectSupplierVo">
        select supplier_id, supplier_name, contact, classify_id, supplier_address, supplier_phone, supplier_synopsis, audit_status, audit_opinion, audit_time, audit_person, approver_opinion, approver_time, approver_person, sort, remark, create_by, create_time, update_by, update_time from lp_supplier
    </sql>

    <sql id="selectSupplierVos">
        select t1.supplier_id, t1.supplier_name, t1.contact, t1.classify_id, t1.supplier_address, t1.supplier_phone, t1.supplier_synopsis, t1.audit_status, t1.audit_opinion, t1.audit_time, t1.audit_person, t1.approver_opinion, t1.approver_time, t1.approver_person, t1.sort, t1.remark, t1.create_by, t1.create_time, t1.update_by, t1.update_time,t2.classify_id,t2.classify_name  from lp_supplier t1 left join lp_classify t2 on t1.classify_id = t2.classify_id
    </sql>

    <select id="selectSupplierList" parameterType="Supplier" resultMap="SupplierResult">
        <include refid="selectSupplierVos"/>
        <where>
            <if test="supplierName != null  and supplierName != ''"> and t1.supplier_name like concat('%', #{supplierName}, '%')</if>
            <if test="contact != null  and contact != ''"> and t1.contact = #{contact}</if>
            <if test="classifyId != null "> and t1.classify_id = #{classifyId}</if>
            <if test="supplierAddress != null  and supplierAddress != ''"> and t1.supplier_address = #{supplierAddress}</if>
            <if test="supplierPhone != null  and supplierPhone != ''"> and t1.supplier_phone = #{supplierPhone}</if>
            <if test="supplierSynopsis != null  and supplierSynopsis != ''"> and t1.supplier_synopsis = #{supplierSynopsis}</if>
            <if test="auditStatus != null "> and t1.audit_status = #{auditStatus}</if>
            <if test="auditOpinion != null  and auditOpinion != ''"> and t1.audit_opinion = #{auditOpinion}</if>
            <if test="auditTime != null "> and t1.audit_time = #{auditTime}</if>
            <if test="auditPerson != null  and auditPerson != ''"> and t1.audit_person = #{auditPerson}</if>
            <if test="approverOpinion != null  and approverOpinion != ''"> and t1.approver_opinion = #{approverOpinion}</if>
            <if test="approverTime != null "> and t1.approver_time = #{approverTime}</if>
            <if test="approverPerson != null  and approverPerson != ''"> and t1.approver_person = #{approverPerson}</if>
            <if test="sort != null "> and t1.sort = #{sort}</if>
        </where>



    </select>

    <select id="selectSupplierBySupplierId" parameterType="Integer" resultMap="SupplierResult">
        <include refid="selectSupplierVo"/>
        where supplier_id = #{supplierId}
    </select>

    <insert id="insertSupplier" parameterType="Supplier" useGeneratedKeys="true" keyProperty="supplierId">
        insert into lp_supplier
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="supplierName != null">supplier_name,</if>
            <if test="contact != null">contact,</if>
            <if test="classifyId != null">classify_id,</if>
            <if test="supplierAddress != null">supplier_address,</if>
            <if test="supplierPhone != null">supplier_phone,</if>
            <if test="supplierSynopsis != null">supplier_synopsis,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="auditOpinion != null">audit_opinion,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditPerson != null">audit_person,</if>
            <if test="approverOpinion != null">approver_opinion,</if>
            <if test="approverTime != null">approver_time,</if>
            <if test="approverPerson != null">approver_person,</if>
            <if test="sort != null">sort,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="supplierName != null">#{supplierName},</if>
            <if test="contact != null">#{contact},</if>
            <if test="classifyId != null">#{classifyId},</if>
            <if test="supplierAddress != null">#{supplierAddress},</if>
            <if test="supplierPhone != null">#{supplierPhone},</if>
            <if test="supplierSynopsis != null">#{supplierSynopsis},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="auditOpinion != null">#{auditOpinion},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditPerson != null">#{auditPerson},</if>
            <if test="approverOpinion != null">#{approverOpinion},</if>
            <if test="approverTime != null">#{approverTime},</if>
            <if test="approverPerson != null">#{approverPerson},</if>
            <if test="sort != null">#{sort},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSupplier" parameterType="Supplier">
        update lp_supplier
        <trim prefix="SET" suffixOverrides=",">
            <if test="supplierName != null">supplier_name = #{supplierName},</if>
            <if test="contact != null">contact = #{contact},</if>
            <if test="classifyId != null">classify_id = #{classifyId},</if>
            <if test="supplierAddress != null">supplier_address = #{supplierAddress},</if>
            <if test="supplierPhone != null">supplier_phone = #{supplierPhone},</if>
            <if test="supplierSynopsis != null">supplier_synopsis = #{supplierSynopsis},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="auditOpinion != null">audit_opinion = #{auditOpinion},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="auditPerson != null">audit_person = #{auditPerson},</if>
            <if test="approverOpinion != null">approver_opinion = #{approverOpinion},</if>
            <if test="approverTime != null">approver_time = #{approverTime},</if>
            <if test="approverPerson != null">approver_person = #{approverPerson},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where supplier_id = #{supplierId}
    </update>

    <delete id="deleteSupplierBySupplierId" parameterType="Integer">
        delete from lp_supplier where supplier_id = #{supplierId}
    </delete>

    <delete id="deleteSupplierBySupplierIds" parameterType="String">
        delete from lp_supplier where supplier_id in
        <foreach item="supplierId" collection="array" open="(" separator="," close=")">
            #{supplierId}
        </foreach>
    </delete>
</mapper>