<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.equipment.mapper.UpkeepMapper">

    <resultMap type="Upkeep" id="UpkeepResult">
        <result property="upkeepId"    column="upkeep_id"    />
        <result property="equipmentId"    column="equipment_id"    />
        <result property="adjunctId"    column="adjunct_id"    />
        <result property="upkeepName"    column="upkeep_name"    />
        <result property="description"    column="description"    />
        <result property="upkeepPeriod"    column="upkeep_period"    />
        <result property="announcements"    column="announcements"    />
        <result property="upkeepContent"    column="upkeep_content"    />
        <result property="upkeepPrice"    column="upkeep_price"    />
        <result property="auditStatus"    column="audit_status"    />
        <result property="auditOpinion"    column="audit_opinion"    />
        <result property="auditTime"    column="audit_time"    />
        <result property="auditPerson"    column="audit_person"    />
        <result property="approverOpinion"    column="approver_opinion"    />
        <result property="approverTime"    column="approver_time"    />
        <result property="approverPerson"    column="approver_person"    />
        <result property="sort"    column="sort"    />
        <result property="remark"    column="remark"    />
        <result property="createBy"    column="create_by"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateBy"    column="update_by"    />
        <result property="updateTime"    column="update_time"    />

        <association property="adjunct"  javaType="com.ruoyi.equipment.domain.Adjunct" >
            <result property="adjunctId" column="adjunct_id" />
            <result property="adjunctName" column="adjunct_name" />
        </association>

        <association property="equipment"  javaType="com.ruoyi.equipment.domain.Equipment" >
            <result property="equipmentId" column="equipment_id" />
            <result property="equipmentName" column="equipment_name" />
        </association>


    </resultMap>

    <sql id="selectUpkeepVo">
        select upkeep_id, equipment_id, adjunct_id, upkeep_name, description, upkeep_period, announcements, upkeep_content, upkeep_price, audit_status, audit_opinion, audit_time, audit_person, approver_opinion, approver_time, approver_person, sort, remark, create_by, create_time, update_by, update_time from lp_upkeep
    </sql>

    <sql id="selectUpkeepVos">
        select t1.upkeep_id, t1.equipment_id, t1.adjunct_id, t1.upkeep_name, t1.description, t1.upkeep_period, t1.announcements, t1.upkeep_content, t1.upkeep_price, t1.audit_status, t1.audit_opinion, t1.audit_time,
               t1.audit_person, t1.approver_opinion, t1.approver_time, t1.approver_person, t1.sort, t1.remark, t1.create_by, t1.create_time, t1.update_by, t1.update_time,
               t2.adjunct_id,t2.adjunct_name,t3.equipment_id,t3.equipment_name
        from lp_upkeep t1 left join  lp_adjunct t2 on t1.adjunct_id = t2.adjunct_id
                          left join  lp_equipment t3 on t1.equipment_id = t3.equipment_id
    </sql>

    <select id="selectUpkeepLists"  parameterType="Integer" resultMap="UpkeepResult">
        <include refid="selectUpkeepVos"/>
        where t1.upkeep_id = #{upkeepId}
    </select>

    <select id="selectUpkeepList" parameterType="Upkeep" resultMap="UpkeepResult">
        <include refid="selectUpkeepVo"/>
        <where>
            <if test="equipmentId != null "> and equipment_id = #{equipmentId}</if>
            <if test="adjunctId != null "> and adjunct_id = #{adjunctId}</if>
            <if test="upkeepName != null and upkeepName != ''"> and upkeep_name like concat('%', #{upkeepName}, '%')</if>
            <if test="description != null  and description != ''"> and description = #{description}</if>
            <if test="upkeepPeriod != null  and upkeepPeriod != ''"> and upkeep_period = #{upkeepPeriod}</if>
            <if test="announcements != null  and announcements != ''"> and announcements = #{announcements}</if>
            <if test="upkeepContent != null  and upkeepContent != ''"> and upkeep_content = #{upkeepContent}</if>
            <if test="upkeepPrice != null "> and upkeep_price = #{upkeepPrice}</if>
            <if test="auditStatus != null "> and audit_status = #{auditStatus}</if>
            <if test="auditOpinion != null  and auditOpinion != ''"> and audit_opinion = #{auditOpinion}</if>
            <if test="auditTime != null "> and audit_time = #{auditTime}</if>
            <if test="auditPerson != null  and auditPerson != ''"> and audit_person = #{auditPerson}</if>
            <if test="approverOpinion != null  and approverOpinion != ''"> and approver_opinion = #{approverOpinion}</if>
            <if test="approverTime != null "> and approver_time = #{approverTime}</if>
            <if test="approverPerson != null  and approverPerson != ''"> and approver_person = #{approverPerson}</if>
            <if test="sort != null "> and sort = #{sort}</if>
        </where>
    </select>

    <select id="selectUpkeepByUpkeepId" parameterType="Integer" resultMap="UpkeepResult">
        <include refid="selectUpkeepVo"/>
        where upkeep_id = #{upkeepId}
    </select>

    <insert id="insertUpkeep" parameterType="Upkeep" useGeneratedKeys="true" keyProperty="upkeepId">
        insert into lp_upkeep
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id,</if>
            <if test="adjunctId != null">adjunct_id,</if>
            <if test="upkeepName != null">upkeep_name,</if>
            <if test="description != null">description,</if>
            <if test="upkeepPeriod != null">upkeep_period,</if>
            <if test="announcements != null">announcements,</if>
            <if test="upkeepContent != null">upkeep_content,</if>
            <if test="upkeepPrice != null">upkeep_price,</if>
            <if test="auditStatus != null">audit_status,</if>
            <if test="auditOpinion != null">audit_opinion,</if>
            <if test="auditTime != null">audit_time,</if>
            <if test="auditPerson != null">audit_person,</if>
            <if test="approverOpinion != null">approver_opinion,</if>
            <if test="approverTime != null">approver_time,</if>
            <if test="approverPerson != null">approver_person,</if>
            <if test="sort != null">sort,</if>
            <if test="remark != null">remark,</if>
            <if test="createBy != null">create_by,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateBy != null">update_by,</if>
            <if test="updateTime != null">update_time,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="equipmentId != null">#{equipmentId},</if>
            <if test="adjunctId != null">#{adjunctId},</if>
            <if test="upkeepName != null">#{upkeepName},</if>
            <if test="description != null">#{description},</if>
            <if test="upkeepPeriod != null">#{upkeepPeriod},</if>
            <if test="announcements != null">#{announcements},</if>
            <if test="upkeepContent != null">#{upkeepContent},</if>
            <if test="upkeepPrice != null">#{upkeepPrice},</if>
            <if test="auditStatus != null">#{auditStatus},</if>
            <if test="auditOpinion != null">#{auditOpinion},</if>
            <if test="auditTime != null">#{auditTime},</if>
            <if test="auditPerson != null">#{auditPerson},</if>
            <if test="approverOpinion != null">#{approverOpinion},</if>
            <if test="approverTime != null">#{approverTime},</if>
            <if test="approverPerson != null">#{approverPerson},</if>
            <if test="sort != null">#{sort},</if>
            <if test="remark != null">#{remark},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateUpkeep" parameterType="Upkeep">
        update lp_upkeep
        <trim prefix="SET" suffixOverrides=",">
            <if test="equipmentId != null">equipment_id = #{equipmentId},</if>
            <if test="adjunctId != null">adjunct_id = #{adjunctId},</if>
            <if test="upkeepName != null">upkeep_name = #{upkeepName},</if>
            <if test="description != null">description = #{description},</if>
            <if test="upkeepPeriod != null">upkeep_period = #{upkeepPeriod},</if>
            <if test="announcements != null">announcements = #{announcements},</if>
            <if test="upkeepContent != null">upkeep_content = #{upkeepContent},</if>
            <if test="upkeepPrice != null">upkeep_price = #{upkeepPrice},</if>
            <if test="auditStatus != null">audit_status = #{auditStatus},</if>
            <if test="auditOpinion != null">audit_opinion = #{auditOpinion},</if>
            <if test="auditTime != null">audit_time = #{auditTime},</if>
            <if test="auditPerson != null">audit_person = #{auditPerson},</if>
            <if test="approverOpinion != null">approver_opinion = #{approverOpinion},</if>
            <if test="approverTime != null">approver_time = #{approverTime},</if>
            <if test="approverPerson != null">approver_person = #{approverPerson},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where upkeep_id = #{upkeepId}
    </update>

    <delete id="deleteUpkeepByUpkeepId" parameterType="Integer">
        delete from lp_upkeep where upkeep_id = #{upkeepId}
    </delete>

    <delete id="deleteUpkeepByUpkeepIds" parameterType="String">
        delete from lp_upkeep where upkeep_id in
        <foreach item="upkeepId" collection="array" open="(" separator="," close=")">
            #{upkeepId}
        </foreach>
    </delete>
</mapper>